.footer_container{
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    color: white;
    background-color: #003566;
    margin-top: 30PX;
    padding: 20px 0px;
}
footer h2{
    color: white;
    background-color: #003566;
    margin: 0px;
    text-align: center;
    padding: 20px;
}
footer li{
    list-style-type: none;
    margin-top: 10px;

}
footer a{
    text-decoration: none;
    color: white;

}

@media (min-width: 320px) and (max-width: 375px) {
}
@media (min-width: 375px) and (max-width: 425px) {
}
@media (min-width: 425px) and (max-width: 480px) {
    .footer_container{
        grid-template-columns: 50% 50%;
    }
}
@media (min-width: 480px) and (max-width: 600px) {
    .footer_container{
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .footer_container{
        grid-template-columns: 50% 50%;
    }
}
@media (min-width: 767px) and (max-width: 1023px) {
    .footer_container{
        grid-template-columns: 25% 25% 25% 25%;
    }
}
@media (min-width: 1023px) and (max-width: 1200px) {
    .footer_container{
        grid-template-columns: 25% 25% 25% 25%;
    }
}
@media (min-width: 1200px) {
    .footer_container{
        grid-template-columns: 25% 25% 25% 25%;
    }
}