header{
    display: flex;
    justify-content: end;
    background-color: #003566;
    height: 10vh;

}
.headermenu{
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}
header button{
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: orange;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: none;
}
.mobile_nav_menu button{
    display: block;
    margin: 10px;
    padding: 10px 30px;
    background-color: orange;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: none;
}
.mobile_header{
    display: none;
    background-color: #003566;
    height: 10vh;
}
.burgerBtn{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    color: white;
}
.mobile_nav_menu{
    width: 300px;
    height: 100vh;
    background-color: #003566;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;

}
@media (min-width: 320px) and (max-width: 375px) {
    header{
        display: none;
    }
    .mobile_header{
        display: flex;
        justify-content: end;
    }
}
@media (min-width: 375px) and (max-width: 425px) {
    header{
        display: none;
    }
    .mobile_header{
        display: flex;
        justify-content: end;
    }
}
@media (min-width: 425px) and (max-width: 480px) {
    header{
        display: none;
    }
    .mobile_header{
        display: flex;
        justify-content: end;
    }
}
@media (min-width: 480px) and (max-width: 600px) {
    header{
        display: none;
    }
    .mobile_header{
        display: flex;
        justify-content: end;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    header button{
        padding: 10px 20px;
    }
}
@media (min-width: 767px) and (max-width: 1023px) {
    header button{
        padding: 10px 30px;
    }
}
@media (min-width: 1023px) and (max-width: 1200px) {
    header button{
        padding: 10px 30px;
    }
}
@media (min-width: 1200px) {
    header button{
        padding: 10px 30px;
    }
}